.cart-title{
    text-align: start;
    color: #3C6382;
    background-color: #F8F8F8;
    padding: 40px 0;
    padding-left: 300px;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: bold;
}
.cart-items{
    width: 65%;
    margin: 0 auto;
}
.cart-card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 10px;
}
.cart-card .course-img{
    width: 130px;
}
.middle-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.total-bill{
    font-size: 20px;
    border-top: 2px solid rgba(177, 177, 177, 0.534);
    text-align: right;
}
.quantity-options{
    display: flex;
    justify-content: center;
    
}


.qunatity h2{
    display: block;
}
.quantity-options button{
    background-color: #00AEEF;
    outline: none;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    border-radius: 3px;
}

.cart-item-delete-btn{
    background-color: rgb(250, 31, 31);
    color: white;
    padding: 7px 25px;
    border: none;
    margin-top: 5px;
    border-radius: 3px;
}

.quantity-options p{
    margin: 0 15px;
}
.checkout{
    margin: 30px 0;
    text-align: right;
    width: 82%;
}

.checkout-btn{
    background-color: #00AEEF;
    color: #fff;
    padding: 10px;
    text-decoration: none;
    border-radius: 5px;
    text-align: right;
}

