.office-environment-title{
    text-align: start;
    color: #3C6382;
    background-color: #F8F8F8;
    padding: 40px 0;
    padding-left: 300px;
}


.image-gallary{
    display: grid;
    width: 80%;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 auto;
    display: block;
}

.image-gallary img{
    height: 300px;
    margin: 10px;
}