.about-us-title{
    text-align: start;
    color: #3C6382;
    background-color: #F8F8F8;
    padding: 40px 0;
    padding-left: 300px;
    text-transform: uppercase;
}

.welcome-message h1{
    color: #3C6382;
    font-size: 30px;
    font-weight: 700;
}

.welcome-message h3{
    color: #3C6382;
    letter-spacing: 0.5px;
    font-weight: 500;
}

.welcome-message p{
    width: 1200px;
    margin: 0 auto;
    line-height: 34px;
}
.founder-section{
    display: flex;
    justify-content: center;
}
.founder-section .card{
    box-shadow: 0px 0px 15px 0px rgb(171 171 171 / 50%);
    margin: 30px 10px;
    padding: 10px;
}

.founder-name{
    color: #3C6382;
    font-weight: 800;
}
.founder-section .role{
    font-size: 14px;
    font-weight: bold;
    color: #acacac;
}
.institute{
    color: #00AEEF;
    font-size: 14px;
    margin-bottom: 30px;
}