.contact-title{
    text-align: start;
    color: #3C6382;
    background-color: #F8F8F8;
    padding: 40px 0;
    padding-left: 300px;
    text-transform: uppercase;
    
}
.contact-us{
    display: grid;
    width: 80%;
    gap: 40px;
    margin: 100px auto;
    grid-template-columns: 60% 40%;
}
.contact-details{
    text-align: start;
}
.contact-details .icon{
    color: #3C6382;
    margin-right: 10px;
}
.contact-details .heading{
    display: inline;
    color: #3C6382;
}

@media screen and (max-width:1024px) {
    .contact-title{
        padding-left: 10px;
    }
    .contact-us{
        grid-template-columns: repeat(1, 1fr);
    }
    
}